<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="lurdak.try3">

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
         />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
       />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".View.NewWorkerLayoutActivity" />
        <activity android:name=".View.WorkerListActivity" />
        <activity android:name=".View.WorkersEditManger" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".View.CompanyEditManger" />
        <activity android:name=".View.NewCompanyActivity" />
        <activity android:name=".View.CompanyListActivity" />
        <activity android:name=".View.TessTry"></activity>
        <activity android:name=".View.TessExp2"></activity>
        <meta-data android:name="com.google.android.gms.vision.DEPENDENCIES" android:value="ocr"/>
    </application>

</manifest>